body {
  font-size: 10px;
  font-family: 'Roboto';
  padding: 5%;
}

h1 {
  color: rgba(0,0,0,.87);
}

.mdl-button {
width: 200px;
background-color: #FF3365;
color: #fff;
position: relative;
left: 110%;
}


.mdl-textfield__input {
  display: inline-block;
}

li {
  font-size: 1.4rem;
}
